<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head ('Ticket Logger - Insertar/Actualizar Categoría')"></head>
<body>
<!-- Incluir el fragmento del header -->
<header th:replace="header :: header"></header>
<main class="container mt-5">
    <h1 th:text="${category.id == null ? 'Agregar Nueva Categoría' : 'Editar Categoría'}"></h1>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <form th:action="${category.id == null} ? @{/categories/insert} : @{/categories/update(id=${category.id})}"
          th:object="${category}" method="post" enctype="multipart/form-data" class="mt-4">

        <div class="mb-3">
            <label for="name" class="form-label" th:text="#{msg.category.name}">Nombre:</label>
            <input type="text" th:field="*{name}" id="name" class="form-control" />
            <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
        </div>

        <div class="mb-3">
            <label for="imageFile" class="form-label" th:text="#{msg.category.form.image}">Imagen:</label>
            <input type="file" name="imageFile" id="imageFile" class="form-control" accept="image/*"/>
        </div>

        <div class="mb-3">
            <label for="parent" class="form-label" th:text="#{msg.category.parent}">Categoría Padre:</label>
            <select th:field="*{parent}" id="parent" class="form-control">
                <option value="" th:text="#{msg.category.selectParent}">Selecciona Categoría Padre</option>
                <option th:each="parent : ${listCategories}"
                        th:value="${parent.id}"
                        th:text="${parent.name}"
                        th:selected="${parent.id == category.parent}"></option>
            </select>
            <div th:if="${#fields.hasErrors('parent')}" class="text-danger" th:errors="*{parent}"></div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="${category.id == null ? 'Crear' : 'Actualizar'}"></button>
    </form>

    <!-- Volver a la lista de categorías -->
    <a href="#" th:href="@{/categories}" class="btn btn-secondary mt-3" th:text="#{msg.category.returnback}"></a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="footer :: footer"></footer>
</body>
</html>
